@font-face {
  font-weight: normal;
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("fonts/opensans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("fonts/opensansbold.woff") format("woff");
}
body {
  position: relative;
  min-width: 320px;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.bg-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
}
.bg-modal-none {
  display: none;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-reset {
  margin: 0;
  padding: 0;
}
.max-width {
  margin: 0 auto;
  max-width: 768px;
}
.page-header {
  z-index: 2;
}
.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.page-header__wrapper-logo {
  position: relative;
  min-height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.page-header__logo {
  font-size: 0;
}
.page-header__inner-page .page-header__logo:hover,
.page-header__inner-page .page-header__logo:focus {
  opacity: 0.6;
}
.page-header__inner-page .page-header__logo:active {
  opacity: 0.3;
}
.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 30px;
  display: block;
  width: 20px;
  height: 14px;
  border: 0;
  background: none;
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}
.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 28px;
  right: 30px;
  display: block;
  width: 21px;
  height: 20px;
  border: 0;
  background: none;
  cursor: pointer;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 27px;
  height: 2px;
  background-color: #221f1f;
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 27px;
  height: 2px;
  background-color: #221f1f;
  transform: rotate(-45deg);
}
.main-nav--closed .main-nav__list,
.main-nav--closed .main-nav__user-nav {
  display: none;
}
.main-nav__submenu {
  display: none;
}
.main-nav__desc {
  display: none;
}
.main-nav__list,
.main-nav__user-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
}
.main-nav__item a {
  position: relative;
  display: block;
  padding: 27px 30px 27px 76px;
  min-width: 320px;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
}
.main-nav__item:hover a,
.main-nav__item:focus a {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav__item:active a {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav__item:hover path {
  fill: #63d1bb;
  opacity: 1;
}
.main-nav__item:active path {
  fill: #63d1bb;
  opacity: 0.3;
}
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input {
  margin: 0;
  padding: 27px 30px 27px 76px;
  width: 100%;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}
.search-input::placeholder {
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.search-input:hover,
.search-input:focus {
  opacity: 0.6;
}
.search-input:active {
  opacity: 0.3;
}
.button-search {
  position: absolute;
  left: 30px;
  padding: 0;
  display: block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 0;
  background: 0;
  outline: none;
  z-index: 2;
}
.icon-basket {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.categories {
  background-image: url("../img/bg-categories-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-position: center -16px;
  background-size: 320px auto;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .categories {
    background-image: url("../img/bg-categories-mobile@2x.jpg");
  }
}
.categories__title {
  margin: 0;
  padding: 0;
  padding: 69px 30px 0px;
  margin-bottom: 125px;
  font-family: "OpenSans-Bold";
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.categories__item {
  cursor: pointer;
}
.categories__item a {
  margin: 0 auto;
  padding: 20.5px 30px;
  display: flex;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
}
.categories__item:nth-child(2n+1) {
  background-color: #63d1bb;
}
.categories__item:nth-child(2n) {
  background-color: #56c3b2;
}
.categories__item:hover img,
.categories__item:focus img {
  opacity: 0.7;
}
.categories__item:active img {
  opacity: 0.3;
}
.categories__item:hover,
.categories__item:focus {
  margin-top: -5px;
}
.categories__item:hover a,
.categories__item:focus a {
  padding-bottom: 25.5px;
}
.categories__item:active span {
  color: rgba(255, 255, 255, 0.3);
}
.categories__name {
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}
.categories__wrapper-img {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.img-interior {
  padding-right: 9px;
}
.inner-page__title {
  margin: 0;
  padding: 0;
  padding-top: 69px;
  min-height: 175px;
  font-family: "OpenSans-Bold";
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #f1f1f1;
  box-sizing: border-box;
}
.page-header-nojs .main-nav__list {
  display: block;
}
.page-header-nojs .main-nav__user-nav {
  display: block;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
  }
  .page-header::before {
    content: "";
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }
  .main-nav {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .page-header__wrapper-logo {
    width: 40%;
    min-height: 88px;
    justify-content: flex-start;
    border: 0;
  }
  .main-nav .main-nav__toggle {
    display: none;
  }
  .main-nav .main-nav__list {
    display: flex;
    order: 1;
  }
  .site-list__item {
    border: 0;
  }
  .site-list__item a {
    padding: 19px 36px 19px 0;
    min-width: auto;
    font-size: 15px;
  }
  .main-nav .main-nav__user-nav {
    min-height: 88px;
    display: flex;
  }
  .user-nav__item {
    border: 0;
  }
  .search-wrapper {
    width: 82px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .button-search {
    left: 50%;
    transform: translateX(-50%);
  }
  .search-input {
    padding: 0;
  }
  .search-input::placeholder {
    font-size: 0;
  }
  .bag__item {
    align-self: center;
  }
  .bag__item a {
    padding-left: 81px;
    padding-right: 0;
    min-width: auto;
  }
  .main-nav__desc {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "OpenSans-Regular";
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #444444;
    order: 2;
  }
  .categories {
    position: relative;
    margin-top: -62px;
    z-index: -1;
    background-image: url("../img/bg-categories-tablet@1x.jpg");
    background-position: center 0px;
    background-size: 768px auto;
  }
  .categories::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 22px;
    background-image: url("../img/wave.svg");
  }
  .categories__title {
    margin: 0 auto;
    padding: 154px 0px 0px;
    max-width: 620px;
    font-size: 43px;
    line-height: 50px;
  }
  .categories__title-br {
    display: none;
  }
  .categories__title {
    margin-bottom: 373px;
  }
  .categories__list {
    max-width: 1050px;
    margin: 0px auto;
    padding: 0px 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .categories__item {
    width: 50%;
  }
  .categories__item a {
    padding: 28.5px 35px;
    font-size: 20px;
    line-height: 30px;
  }
  .categories__item:hover,
  .categories__item:focus {
    margin-top: -5px;
  }
  .categories__item:hover a,
  .categories__item:focus a {
    padding-bottom: 40px;
  }
  .inner-page__title {
    padding-top: 99px;
    margin-top: -62px;
    min-height: 225px;
    font-size: 43px;
    line-height: 50px;
  }
  .inner-page__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 22px;
    background-image: url("../img/wave.svg");
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .categories {
    background-image: url("../img/bg-categories-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .page-header__wrapper-logo {
    width: auto;
    margin-left: -38px;
  }
  .main-nav .main-nav__list {
    min-height: 88px;
    align-items: center;
    order: -1;
  }
  .site-list__item a {
    font-size: 17px;
    padding: 27px 0px 27px 0px;
  }
  .site-list__item:nth-child(1) a {
    padding-right: 33px;
    border-right: 1px solid #e7e7e7;
  }
  .site-list__item:nth-child(2) a {
    padding-left: 33px;
  }
  .main-nav__submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .submenu__item a {
    padding: 18px 60px 18px 0px;
    display: block;
    font-family: "OpenSans-Bold";
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }
  .submenu__item:hover a,
  .submenu__item:focus a {
    color: rgba(0, 0, 0, 0.6);
  }
  .submenu__item:active a {
    color: rgba(0, 0, 0, 0.6);
  }
  .categories {
    margin-top: -58px;
  }
  .categories__title {
    margin-bottom: 359px;
    font-size: 53px;
    line-height: 57px;
  }
  .inner-page__title {
    padding-top: 93px;
    margin-top: -62px;
    min-height: 250px;
    font-size: 53px;
    line-height: 57px;
  }
  .inner-page__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 22px;
    background-image: url("../img/wave.svg");
  }
}
.productweek {
  position: relative;
}
.productweek::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-image: url('../img/icon-wave-2.svg');
}
.productweek__wrapper {
  padding: 27px 9.375% 36px;
}
.productweek__wrapper-text {
  margin-bottom: 23px;
}
.productweek__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-family: "OpenSans-Bold";
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.productweek__mark {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}
.productweek__mark-br {
  display: none;
}
.productweek__desc {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}
.productweek__features {
  margin-top: 27.5px;
  margin-bottom: 28px;
  width: 100%;
  border-collapse: collapse;
}
.productweek__features tr {
  border-bottom: 1px solid #ececec;
}
.features__field,
.features__value {
  padding: 9.5px 0px;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #444444;
}
.productweek__wrapper-picture {
  text-align: center;
}
.productweek__price-wrapper {
  margin-top: 21px;
}
.productweek__price {
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  text-align: center;
}
.productweek__button {
  width: 100%;
  margin-top: 26px;
  padding: 14px 20px;
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  background: none;
  cursor: pointer;
  outline: none;
}
.productweek__button:hover,
.productweek__button:focus {
  color: rgba(255, 255, 255);
  background-color: #444444;
}
.productweek__button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .productweek::after {
    height: 10px;
  }
  .productweek__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 44px 50px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .productweek__wrapper-text {
    margin-bottom: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .productweek__title {
    margin-bottom: 0;
    font-size: 43px;
    line-height: 50px;
  }
  .productweek__mark {
    width: 132px;
    line-height: 17px;
    text-align: center;
  }
  .productweek__wrapper-content {
    width: 43.713%;
  }
  .productweek__desc {
    font-size: 17px;
    line-height: 30px;
  }
  .productweek__features {
    margin-top: 36px;
  }
  .productweek__wrapper-picture {
    width: 50%;
  }
  .productweek__price-wrapper {
    margin-top: -113px;
    width: 43.713%;
  }
  .productweek__price {
    font-size: 20px;
  }
  .productweek__button {
    margin-top: 34px;
  }
}
@media (min-width: 1200px) {
  .productweek::after {
    max-width: 1050px;
    left: 50%;
    transform: translateX(-50%);
  }
  .productweek__wrapper {
    padding: 120px 0px 73px;
  }
  .productweek__mark-br {
    display: block;
  }
  .productweek__wrapper-text {
    justify-content: flex-start;
  }
  .productweek__title {
    font-size: 53px;
    line-height: 57px;
    order: 1;
  }
  .productweek__mark {
    width: 175px;
  }
  .productweek__wrapper-content {
    width: 27.81%;
    margin-left: 175px;
  }
  .productweek__wrapper-picture {
    margin-top: -165px;
    z-index: -1;
  }
  .productweek__price-wrapper {
    width: 27.81%;
    margin-left: 175px;
  }
}
.aboutus {
  padding: 33px 9.375% 30px;
}
.aboutus__title {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Bold";
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.aboutus__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 85px;
}
.aboutus__item {
  position: relative;
  margin-bottom: 82px;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}
.aboutus__item br {
  display: none;
}
.aboutus__item:last-child {
  margin-bottom: 0;
}
.aboutus__item--flower::before {
  content: "";
  position: absolute;
  top: -53px;
  left: 8px;
  width: 32px;
  height: 37px;
  background-image: url('../img/icon-flower.svg');
}
.aboutus__item--money::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 0;
  width: 47px;
  height: 27px;
  background-image: url('../img/icon-money.svg');
}
.aboutus__item--heart::before {
  content: "";
  position: absolute;
  top: -51px;
  left: 7px;
  width: 34px;
  height: 27px;
  background-image: url('../img/icon-heart.svg');
}
.aboutus__item--ball::before {
  content: "";
  position: absolute;
  top: -54px;
  left: 3px;
  width: 35px;
  height: 34px;
  background-image: url('../img/icon-ball.svg');
}
.aboutus__item--rocket::before {
  content: "";
  position: absolute;
  top: -53px;
  left: -6px;
  width: 55px;
  height: 23px;
  background-image: url('../img/icon-rocket.svg');
}
.aboutus__item--gift::before {
  content: "";
  position: absolute;
  top: -55px;
  left: 3px;
  width: 33px;
  height: 32px;
  background-image: url('../img/icon-gift.svg');
}
@media (min-width: 768px) {
  .aboutus {
    max-width: 1050px;
    margin: 0 auto;
    padding: 60px 50px 0px;
  }
  .aboutus__title {
    font-size: 43px;
    line-height: 50px;
  }
  .aboutus__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .aboutus__item {
    margin-bottom: 112px;
    width: 50%;
    font-size: 20px;
    line-height: 22px;
  }
  .aboutus__item br {
    display: block;
  }
  .aboutus__item--flower {
    order: 1;
  }
  .aboutus__item--money {
    order: 3;
  }
  .aboutus__item--heart {
    order: 5;
  }
  .aboutus__item--ball {
    order: 2;
  }
  .aboutus__item--rocket {
    order: 4;
  }
  .aboutus__item--gift {
    order: 6;
  }
}
@media (min-width: 1200px) {
  .aboutus {
    padding: 69px 0px 0px;
  }
  .aboutus__title {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
  .aboutus__list {
    margin-left: 175px;
    margin-top: 103px;
    justify-content: flex-start;
  }
  .aboutus__item {
    width: 41.2%;
  }
}
.reviews {
  position: relative;
}
.reviews::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-image: url('../img/icon-wave-2.svg');
}
.reviews__wrapper {
  padding: 27px 9.375% 51px;
}
.reviews__title {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 23px;
  font-family: "OpenSans-Bold";
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.reviews__text {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}
.reviews__author-data {
  margin-top: 25px;
}
.reviews__author-name {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.reviews__author-mail {
  display: block;
  font-family: "OpenSans-Regular";
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}
.reviews__controls {
  margin-top: 30px;
  display: flex;
}
.reviews__control {
  position: relative;
  padding: 25px 0px;
  width: 50%;
  border: 1px solid #ececec;
  background: none;
  cursor: pointer;
  outline: none;
}
.reviews__control--left {
  background: url('../img/icon-left-arrow.svg') no-repeat 50% 50% #ffffff;
}
.reviews__control--right {
  background: url('../img/icon-right-arrow.svg') no-repeat 50% 50% #ffffff;
}
.reviews__control:hover,
.reviews__control:focus {
  opacity: 0.6;
}
.reviews__control:active {
  opacity: 0.3;
}
.reviews__write {
  width: 100%;
  margin-top: 38px;
  padding: 14px 20px;
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  background: none;
  cursor: pointer;
  outline: none;
}
.reviews__write:hover,
.reviews__write:focus {
  color: rgba(255, 255, 255);
  background-color: #444444;
}
.reviews__write:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .reviews {
    margin-top: -36px;
    margin-bottom: 78px;
    background-image: url("../img/bg-reviews@1x.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 350px auto;
  }
  .reviews::after {
    height: 10px;
    bottom: -78px;
  }
  .reviews__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 79px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .reviews__title {
    margin-bottom: 0;
    width: 50%;
    font-size: 43px;
    line-height: 50px;
    order: -1;
  }
  .reviews__text {
    margin-top: 45px;
    margin-bottom: 57px;
    font-size: 17px;
  }
  .reviews__author-data {
    margin-top: 0;
  }
  .reviews__author-name {
    font-size: 18px;
  }
  .reviews__controls {
    margin-top: 0;
    width: 175px;
  }
  .reviews__control {
    border: 0;
  }
  .reviews__write {
    margin-top: 0;
    width: 175px;
    font-size: 17px;
    order: -1;
  }
}
@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url("../img/bg-reviews@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .reviews {
    max-width: 1050px;
    margin: -11px auto 0px;
  }
  .reviews__wrapper {
    padding: 78px 0px 98px 175px;
  }
  .reviews__text {
    width: 90%;
    margin-top: 46px;
    margin-bottom: 39px;
  }
}
.contacts {
  padding: 41px 0px 39px;
}
.contacts__wrapper {
  padding: 0px 9.375%;
}
.contacts__title {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 37px;
}
.contacts__item {
  display: flex;
  margin-bottom: 30px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__item-link {
  display: block;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  text-decoration: none;
}
.contacts__item-mail {
  position: relative;
}
.contacts__item-mail::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}
.contacts__item-mail:hover,
.contacts__item-mail:focus {
  color: #46c1ae;
}
.contacts__item-mail:active {
  opacity: 0.3;
}
.contacts__item-name {
  display: block;
  margin-right: 30px;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}
.map__wrapper {
  margin-top: 38px;
  width: 100%;
  height: 457px;
  background: url(../img/icon-map-marker.svg) no-repeat 55.5% 41.5%, url(../img/bg-map-tablet@1x.jpg) no-repeat 49.5% 0% #eee;
  background-size: 67px 100px, auto 457px;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map__wrapper {
    background: url(../img/icon-map-marker.svg) no-repeat 55.5% 41.5%, url(../img/bg-map-tablet@2x.jpg) no-repeat 49.5% 0% #eee;
    background-size: 67px 100px, auto 457px;
  }
}
.iframe-map {
  width: 100%;
  height: 100%;
}
.contacts__write-wrapper {
  padding: 0px 9.375%;
  margin-top: 39px;
}
.contacts__write {
  width: 100%;
  padding: 14px 20px;
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  background: none;
  cursor: pointer;
  outline: none;
}
.contacts__write:hover,
.contacts__write:focus {
  color: rgba(255, 255, 255);
  background-color: #444444;
}
.contacts__write:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .contacts {
    padding: 62px 0px 57px;
  }
  .contacts__wrapper {
    padding: 0px 50px;
    max-width: 1050px;
    margin: 0 auto;
  }
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__title::before {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    width: 47px;
    height: 81px;
    background-image: url('../img/icon-flag.svg');
  }
  .contacts__list {
    margin-top: 49px;
    display: flex;
    justify-content: space-between;
  }
  .contacts__item {
    width: 50%;
  }
  .contacts__item-name {
    font-size: 17px;
    margin-right: 27px;
  }
  .contacts__item-link {
    font-size: 17px;
  }
  .contacts__item-mail::after {
    bottom: 30px;
  }
  .map__wrapper {
    margin-top: 56px;
  }
  .contacts__write-wrapper {
    padding: 0;
    margin-top: 55px;
  }
  .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding: 140px 0px 105px;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .contacts__wrapper {
    padding: 0;
    margin: 70px 0px 0px 175px;
    width: 33%;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__title::before {
    right: auto;
    left: -112px;
  }
  .contacts__list {
    flex-direction: column;
  }
  .contacts__item {
    width: auto;
  }
  .contacts__item-mail::after {
    bottom: 0;
  }
  .map {
    width: 50%;
  }
  .map__wrapper {
    margin-top: 0px;
    width: 100%;
    height: 457px;
    background: url(../img/icon-map-marker.svg) no-repeat 55.5% 41.5%, url(../img/bg-map-desktop@1x.jpg) no-repeat 49.5% 0% #eee;
    background-size: 67px 100px, auto 457px;
  }
  .contacts__write-wrapper {
    margin: -52px 0px 0px 175px;
  }
}
@media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .map__wrapper {
    background: url(../img/icon-map-marker.svg) no-repeat 55.5% 41.5%, url(../img/bg-map-desktop@2x.jpg) no-repeat 49.5% 0% #eee;
    background-size: 67px 100px, auto 457px;
  }
}
.basket {
  position: fixed;
  padding: 30px 9.375% 46px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 566px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  z-index: 100;
}
.basket__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: "OpenSans-Bold";
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.basket__legend {
  padding: 0;
  display: block;
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  text-align: center;
}
.basket__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.basket__item {
  position: relative;
  width: 31.787%;
  display: flex;
  justify-content: center;
}
.basket-input-radio + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 95.13%;
  height: 48px;
  border: 2px solid rgba(68, 68, 68, 0.1);
}
.basket-input-radio + label:hover::before,
.basket-input-radio + label:focus::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}
.basket-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 95.13%;
  height: 48px;
  border: 2px solid #63d1bb;
}
.basket__name {
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  cursor: pointer;
}
.basket__submit {
  width: 100%;
  margin-top: 50px;
  padding: 18px 20px;
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #63d1bb;
  border: 0;
  cursor: pointer;
  outline: none;
}
.basket__submit:hover,
.basket__submit:focus {
  background-color: #2aa78e;
}
.basket__submit:active {
  color: rgba(255, 255, 255, 0.3);
}
.basket-none {
  display: none;
}
@media (min-width: 768px) {
  .basket {
    padding: 37px 0px 46px;
  }
  .basket__title {
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 50px;
  }
  .basket__legend {
    font-size: 17px;
  }
  .basket__list {
    max-width: 350px;
    margin: 41px auto 0px;
  }
  .basket__item {
    max-width: 132px;
  }
  .basket__submit {
    max-width: 350px;
    margin: 50px auto 0px;
  }
}
.catalog {
  padding: 30px 30px 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__item {
  max-width: 260px;
  margin-bottom: 30px;
  cursor: pointer;
}
.catalog__item:last-child {
  margin-bottom: 0;
}
.catalog__item:hover,
.catalog__item:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.catalog__item:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 640px) and (max-width: 767px) {
  .catalog {
    padding-left: 7%;
    padding-right: 7%;
  }
  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.catalog__wrapper-picture {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.catalog__wrapper-product {
  position: relative;
  padding: 26.5px 27px;
  border: 1px solid #ededed;
}
.catalog__wrapper-product::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 72px;
  width: 79%;
  height: 1px;
  background-color: #ececec;
}
.catalog__product-name {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
.catalog__product-feature {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  text-align: left;
}
.catalog__price-wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__product-price {
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
.catalog_icon-basket:hover path,
.catalog_icon-basket:focus path {
  fill: #63d1bb;
  opacity: 1;
}
.catalog_icon-basket:active path {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog {
    padding: 80px 50px 0px;
    max-width: 1050px;
    margin: 0 auto 53px;
  }
  .catalog__item {
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
  }
  .catalog__wrapper-product {
    padding-top: 23px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
  }
  .catalog__product-name {
    font-size: 20px;
  }
  .catalog__product-feature {
    font-size: 15px;
  }
  .catalog__product-price {
    font-size: 17px;
  }
  .catalog__price-wrapper {
    margin-top: auto;
  }
}
@media (min-width: 1200px) {
  .catalog {
    padding-top: 129px;
    margin-bottom: 27px;
  }
  .catalog__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -50px;
  }
  .catalog__item {
    width: 316px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .catalog__item:last-child {
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .catalog__wrapper-product {
    width: 100%;
    min-height: 197px;
  }
}
.making {
  padding: 0px 9.375%;
  margin-bottom: 58px;
}
@media (min-width: 640px) and (max-width: 767px) {
  .making {
    padding: 0px 7%;
  }
}
.making__wrapper {
  padding: 22px 0px 32px;
  border: 1px solid #ececec;
}
.making__wrapper:hover,
.making__wrapper:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.making__wrapper:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.making__wrapper-picture {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: relative;
}
@media (max-width: 1199px) {
  .making__picture {
    max-width: inherit;
    width: 100%;
  }
}
.making__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}
.making__play:hover,
.making__play:focus {
  transform: translate(-50%, -50%) scale(1.2);
}
.making__play:active {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.7;
}
.making__title {
  margin: 0;
  padding: 0;
  margin: 0px auto 24px;
  position: relative;
  width: 130px;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.making__title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -48px;
  width: 32px;
  height: 22px;
  background-image: url('../img/icon-video.svg');
}
.making__wrapper-bottom {
  margin-top: 23px;
  padding: 0px 33px;
}
.making__desc {
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
  text-align: left;
}
.making__button-order {
  width: 100%;
  margin-top: 25px;
  padding: 16px 20px;
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  background: none;
  cursor: pointer;
  outline: none;
}
.making__button-order:hover,
.making__button-order:focus {
  color: rgba(255, 255, 255);
  background-color: #444444;
}
.making__button-order:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .making {
    padding: 0px 50px;
    margin-bottom: 63px;
    max-width: 729.48px;
    margin: 0 auto 63px;
  }
  .making__wrapper {
    padding: 0px 0px 45px;
    display: flex;
    flex-wrap: wrap;
  }
  .making__title {
    width: auto;
    margin: 39px 0px 0px 0px;
    padding-left: 16.157%;
    font-size: 20px;
  }
  .making__title::before {
    left: 12.157%;
  }
  .making__title-br {
    display: none;
  }
  .making__wrapper-picture {
    width: 100%;
    order: -1;
  }
  .making__wrapper-bottom {
    margin-top: 32px;
    padding: 0px 6.157%;
  }
  .making__desc {
    font-size: 15px;
    line-height: 30px;
  }
  .making__button-order {
    margin-top: 35px;
  }
}
@media (min-width: 1200px) {
  .making {
    max-width: 1050px;
    margin-bottom: 105px;
  }
  .making__wrapper {
    padding-bottom: 0;
  }
  .making__wrapper-picture {
    width: 64.95238095%;
  }
  .making__title {
    margin: 96px 0px 0px 80px;
    padding: 0;
    align-self: self-start;
  }
  .making__title::before {
    top: -47px;
    transform: initial;
    left: 0;
  }
  .making__title-br {
    display: block;
  }
  .making__wrapper-bottom {
    margin: -266px 56px 0px auto;
    padding: 0;
    width: 21.9047619%;
  }
}
.orders {
  padding: 22px 9.375% 54px;
}
@media (min-width: 500px) and (max-width: 767px) {
  .orders {
    max-width: 500px;
    margin: 0 auto;
  }
}
.orders__text {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-family: "OpenSans-Regular";
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}
.orders__fieldset,
.orders__info {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}
.orders__legend,
.contacts__name {
  position: relative;
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
  text-align: left;
}
@media (max-width: 767px) {
  .orders__legend,
  .contacts__name {
    width: 62px;
    background-color: #ffffff;
  }
  .contacts__name-email {
    width: 80px;
    background-color: #ffffff;
  }
  .orders__fieldset::after,
  .orders__info::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
    z-index: -1;
  }
  .contacts-form__fieldset::after {
    content: none;
  }
  .contacts-form__wrapper {
    position: relative;
  }
  .contacts-form__wrapper::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
    z-index: -1;
  }
  .contacts-form__wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 57px;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
    z-index: -1;
  }
}
.type__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 33px 0px 41px;
}
.type__item {
  position: relative;
  margin-bottom: 40px;
}
.type__item:last-child {
  margin-bottom: 0;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid rgba(68, 68, 68);
  border-radius: 50%;
}
.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  border: 2px solid #62d1ba;
}
.filter-input-radio + label:active::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11.5px;
  width: 15px;
  height: 15px;
  background-color: #62d1ba;
  border-radius: 50%;
}
.type__name {
  display: block;
  padding-left: 62px;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
.color__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 36px 0px 43px;
}
.color__item {
  position: relative;
  margin-bottom: 44px;
  cursor: pointer;
}
.color__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 480px) {
  .color__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .color__item {
    width: 45%;
  }
  .color__item:last-child {
    margin-bottom: 44px;
  }
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
}
.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  border: 2px solid #62d1ba;
}
.filter-input-checkbox + label:active::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}
.filter-input-checkbox:checked + label span::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 7px;
  width: 10px;
  height: 2px;
  background-color: #000000;
  transform: rotate(45deg);
}
.filter-input-checkbox:checked + label span::after {
  content: "";
  position: absolute;
  top: 8.7px;
  left: 11.9px;
  width: 22px;
  height: 2px;
  background-color: #000000;
  transform: rotate(-45deg);
}
.color__name {
  display: block;
  padding-left: 62px;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
.introduce__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 28px;
}
.introduce__item {
  position: relative;
  margin-bottom: 21px;
}
.introduce__item:last-child {
  margin-bottom: 0;
}
.introduce__name {
  display: block;
  margin-bottom: 5px;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}
.introduce__input,
.contacts__input,
.wish__input {
  padding: 15px 0px;
  width: 100%;
  font-family: "OpenSans-Regular";
  font-size: 19px;
  line-height: 18px;
  font-weight: normal;
  color: #444444;
  text-align: left;
  border: 0;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  outline: none;
}
.introduce__input::placeholder,
.contacts__input::placeholder,
.wish__input::placeholder {
  font-family: "OpenSans-Regular";
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(68, 68, 68, 0.3);
  text-align: left;
}
.introduce__input:hover,
.contacts__input:hover,
.wish__input:hover,
.introduce__input:focus,
.contacts__input:focus,
.wish__input:focus {
  border-bottom: 2px solid #62d1ba;
}
.contacts__input {
  padding-right: 40px;
}
.contacts__input:hover + svg path,
.contacts__input:focus + svg path {
  fill: #62d1ba;
  opacity: 1;
}
.contacts-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 32px 0px;
}
.contacts-form__item {
  position: relative;
  margin-bottom: 32px;
}
.contacts-form__item:last-child {
  margin-bottom: 0;
}
.icon-phone {
  position: absolute;
  right: 8px;
  bottom: 15px;
}
.icon-mail {
  position: absolute;
  right: 4px;
  bottom: 18px;
}
.wish__input {
  padding: 15px;
  margin: 25px 0px 0px;
  height: 142px;
  border: 2px solid #444444;
  resize: none;
}
.wish__input:hover,
.wish__input:focus {
  border: 2px solid #62d1ba;
}
.orders__submit-wrapper {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
}
.orders__required-fields {
  order: -1;
  display: block;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
}
.orders__button {
  width: 100%;
  margin-top: 30px;
  padding: 14px 20px;
  display: block;
  font-family: "OpenSans-Bold";
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #444444;
  background: none;
  cursor: pointer;
  outline: none;
}
.orders__button:hover,
.orders__button:focus {
  color: rgba(255, 255, 255);
  background-color: #444444;
}
.orders__button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .orders {
    padding: 35px 0px 50px;
  }
  .orders__text {
    padding: 0px 50px;
    max-width: 768px;
    margin: 0 auto 73px;
    font-size: 17px;
    line-height: 30px;
  }
  .orders__fieldset,
  .orders__info {
    padding: 0px 50px;
    display: flex;
    max-width: 768px;
    margin: 0 auto;
  }
  .orders__legend {
    width: 25%;
  }
  .type__fieldset {
    margin-bottom: 59px;
  }
  .color__fieldset,
  .contacts-form__fieldset {
    padding: 62px 0px 17px;
    max-width: inherit;
    margin: 0;
    background-color: #f1f1f1;
  }
  .contacts-form__fieldset {
    padding-bottom: 50px;
  }
  .color__wrapper,
  .contacts-form__wrapper {
    padding: 0px 50px;
    display: flex;
    max-width: 768px;
    margin: 0 auto;
  }
  .contacts-form__wrapper {
    width: 100%;
  }
  .type__list,
  .color__list,
  .introduce__list {
    margin: 0;
    width: 75%;
  }
  .type__item {
    margin-bottom: 44px;
  }
  .type__name,
  .color__name {
    padding-left: 81px;
    font-size: 19px;
  }
  .introduce__fieldset {
    padding-top: 67px;
    padding-bottom: 50px;
  }
  .introduce__item {
    display: flex;
    align-items: baseline;
    margin-bottom: 32px;
  }
  .introduce__name {
    margin-right: 25px;
    margin-bottom: 0;
    font-size: 19px;
  }
  .introduce__input,
  .contacts__input,
  .wish__input {
    padding: 0px 18px 12px;
    font-size: 19px;
  }
  .introduce__input::placeholder,
  .contacts__input::placeholder,
  .wish__input::placeholder {
    font-size: 19px;
  }
  .contacts__input {
    padding-right: 60px;
  }
  .contacts-form__list {
    margin: 0;
    width: 100%;
  }
  .contacts-form__item {
    margin-bottom: 35px;
    display: flex;
    align-items: baseline;
  }
  .contacts__name {
    width: 25%;
  }
  .contacts__input {
    width: 75%;
    background-color: #f1f1f1;
  }
  .icon-phone {
    right: 26px;
  }
  .icon-mail {
    right: 22px;
  }
  .orders__info {
    padding-top: 50px;
    padding-bottom: 53px;
  }
  .wish__input {
    margin: 0;
    padding-top: 15px;
    width: 75%;
  }
  .orders__submit-wrapper {
    padding: 0px 50px;
    max-width: 768px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .orders__button {
    margin-top: 0;
    width: 230px;
  }
  .orders__required-fields {
    order: 0;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .orders {
    padding-top: 110px;
  }
  .orders__text {
    max-width: 700px;
    margin-bottom: 67px;
  }
  .orders__fieldset,
  .orders__info,
  .contacts-form__wrapper,
  .color__wrapper {
    max-width: 1050px;
  }
  .color__fieldset,
  .contacts-form__fieldset {
    max-width: inherit;
  }
  .orders__legend,
  .contacts__name {
    width: 16.66666667%;
    text-align: center;
  }
  .contacts__name--text {
    text-indent: -26px;
  }
  .introduce__list,
  .contacts__input,
  .wish__input,
  .orders__submit-wrapper {
    width: 700px;
  }
  .contacts__input {
    padding-right: 44px;
  }
  .color__item {
    width: 33.33333333%;
  }
  .icon-phone {
    right: 183px;
  }
  .icon-mail {
    right: 179px;
  }
}
.page-footer {
  padding: 25px 9.375%;
  background-color: #f1f1f1;
}
.page-footer-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-footer-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.page-footer__logo {
  display: none;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 181px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.social__item {
  width: 33.33333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link:hover path,
.social__link:focus path {
  fill: #46c1ae;
}
.social__link:active path {
  opacity: 0.3;
}
.page-footer__copyright {
  margin-top: 47px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.page-footer__copyright:hover path,
.page-footer__copyright:focus path {
  fill: #46c1ae;
}
.page-footer__copyright:active path,
.page-footer__copyright:active .copyright__text {
  opacity: 0.3;
}
.copyright__text {
  display: block;
  margin-top: -8px;
  margin-right: 30px;
  font-family: "OpenSans-Bold";
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0);
}
@media (min-width: 768px) {
  .page-footer {
    padding: 53px 50px;
  }
  .page-footer-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .page-footer-wrapper::after {
    content: none;
  }
  .page-footer__logo {
    width: 33.33333333%;
    display: block;
  }
  .page-footer__inner-page .page-footer__logo:hover path,
  .page-footer__inner-page .page-footer__logo:focus path {
    fill: #46c1ae;
  }
  .page-footer__inner-page .page-footer__logo:active path {
    opacity: 0.3;
  }
  .page-footer__social {
    width: 33.33333333%;
  }
  .page-footer__copyright {
    margin-top: 0;
  }
}
