.productweek {
	position: relative;

	&::after {
		content: "";
		position: absolute;

		width: 100%;
		height: 6px;

		background-image: url('../img/icon-wave-2.svg');
	}
}

.productweek__wrapper {
	padding: 27px 9.375% 36px;
}

.productweek__wrapper-text {
	margin-bottom: 23px;
}

.productweek__title {
	.text-reset;
	margin-bottom: 5px;

	font-family: "OpenSans-Bold";
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}

.productweek__mark {
	.text-reset;

	font-family: "OpenSans-Bold";
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	color: #63d1bb;
	text-transform: uppercase;
}

.productweek__mark-br {
	display: none;
}

.productweek__desc {
	.text-reset;

	font-family: "OpenSans-Regular";
	font-size: 15px;
	line-height: 24px;
	font-weight: normal;
	color: #444444;
}

.productweek__features {
	margin-top: 27.5px;
	margin-bottom: 28px;

	width: 100%;
	border-collapse: collapse;

	tr {
		border-bottom: 1px solid #ececec;
	}
}

.features__field,
.features__value {
	padding: 9.5px 0px;

	font-family: "OpenSans-Regular";
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	color: #444444;
}

.productweek__wrapper-picture {
	text-align: center;
}

.productweek__price-wrapper {
	margin-top: 21px;
}

.productweek__price {
	display: block;

	font-family: "OpenSans-Bold";
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	color: #444444;
	text-align: center;
}

.productweek__button {
	width: 100%;
	margin-top: 26px;
	padding: 14px 20px;


	display: block;

	font-family: "OpenSans-Bold";
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	color: #444444;
	text-align: center;
	text-transform: uppercase;

	border: 2px solid #444444;
	background: none;
	cursor: pointer;
}

@media(min-width:@tablet-width) {
	.productweek {
		&::after {
			height: 10px;
		}
	}

	.productweek__wrapper {
		max-width: 1050px;
		margin: 0 auto;
		padding: 44px 50px 50px;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.productweek__wrapper-text {
		margin-bottom: 55px;
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.productweek__title {
		margin-bottom: 0;

		font-size: 43px;
		line-height: 50px;
	}

	.productweek__mark {
		width: 132px;

		line-height: 17px;
		text-align: center;
	}

	.productweek__wrapper-content {
		width: 43.713%;
	}

	.productweek__desc {
		font-size: 17px;
		line-height: 30px;
	}

	.productweek__features {
		margin-top: 36px;
	}

	.productweek__wrapper-picture {
		width: 50%;
	}

	.productweek__price-wrapper {
		margin-top: -113px;
		width: 43.713%;
	}

	.productweek__price {
		font-size: 20px;
	}

	.productweek__button {
		margin-top: 34px;
	}
}

@media (min-width:@desktop-width) {
	.productweek {
		&::after {
			max-width: 1050px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.productweek__wrapper {
		padding: 120px 0px 73px;
	}

	.productweek__mark-br {
		display: block;
	}

	.productweek__wrapper-text {
		justify-content: flex-start;
	}

	.productweek__title {
		font-size: 53px;
		line-height: 57px;

		order: 1;
	}

	.productweek__mark {
		width: 175px;
	}

	.productweek__wrapper-content {
		width: 27.81%;
		margin-left: 175px;
	}

	.productweek__wrapper-picture {
		margin-top: -165px;

		z-index: -1;
	}

	.productweek__price-wrapper {
		width: 27.81%;
		margin-left: 175px;
	}
}
